@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'MeshedDisplay-SemiBold';
		src: url('/fonts/MeshedDisplay-SemiBold.woff2') format('woff2'),
			/* Modern Browsers */ url('/fonts/MeshedDisplay-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
		font-style: normal;
		font-weight: normal;
		text-rendering: optimizeLegibility;
	}

	@font-face {
		font-family: 'BLMelody-Regular';
		src: url('/fonts/BLMelody-Regular.woff2') format('woff2'),
			/* Modern Browsers */ url('/fonts/BLMelody-Regular.otf') format('opentype'); /* Safari, Android, iOS */
		font-style: normal;
		font-weight: normal;
		text-rendering: optimizeLegibility;
	}
}
